# IntelliJ / Android Studio
.idea/*
!.idea/.gitignore
!.idea/compiler.xml
!.idea/gradle.xml
!.idea/kotlinc.xml
!.idea/misc.xml

# Explicit ignores
.idea/workspace.xml
.idea/.name
.idea/inspectionProfiles/
.idea/runConfigurations.xml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/other.xml

# Gradle / build
.gradle
/build
*/build/

# Local config
local.properties

# Native build
.externalNativeBuild
.cxx

# OS
.DS_Store

# Captures
/captures